.skills{
    padding:100px 10%;
    background:#08111f;
    color:white;
    text-align:center;
}

.skills h2{
    font-size:42px;
    color:#22d3ee;
    margin-bottom:10px;
}

.subtitle{
    color:#cbd5e1;
    margin-bottom:50px;
    font-size:18px;
}

.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:25px;
}

.skill-card{
    background:#111827;
    padding:25px;
    border-radius:15px;
    border:2px solid transparent;
    font-size:18px;
    font-weight:600;
    transition:0.3s ease;
    cursor:pointer;
}

.skill-card:hover{
    transform:translateY(-8px);
    border-color:#22d3ee;
    box-shadow:0 0 20px rgba(34,211,238,0.5);
    color:#22d3ee;
}