*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  font-family:'Poppins',sans-serif;
  background:#08111f;
  color:white;
  overflow-x:hidden;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  font-family:inherit;
}

img{
  max-width:100%;
  display:block;
}

section{
  width:100%;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-track{
  background:#08111f;
}

::-webkit-scrollbar-thumb{
  background:#06b6d4;
  border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
  background:#0891b2;
}

.container{
  width:90%;
  max-width:1300px;
  margin:auto;
}